<script>
  import Login from "./Login.svelte";
  import FirebaseStorage from "./FirebaseStorage.svelte";
  import FirestoreCollection from "./FirestoreCollection.svelte";
  let recordEmpty = { title: "", body: "", type: "" };
  let record = { ...recordEmpty };
  import "mini.css";
</script>

<h1>Svelte on Firebase</h1>
<Login />
<FirebaseStorage accept="image/*" />

<FirestoreCollection collection_name="posts" {recordEmpty} bind:record>
  <div slot="input">
    <div class="input-group fluid">
      <input bind:value={record.title} placeholder="title" required />
    </div>
    <div class="input-group fluid">
      <textarea bind:value={record.body} placeholder="body" required />
    </div>
    <div class="input-group">
      <label for="typ">type</label>
      <select id="typ" bind:value={record.type}>
        <option />
        {#each ['News', 'Tutorial', 'General'] as opt}
          <option selected={opt == record.type}>{opt}</option>
        {/each}
      </select>
    </div>
    <br />
  </div>
  <div slot="display" let:rec>
    <h2>{rec.title}</h2>
    <h4>type: {rec.type}</h4>
    <pre>{rec.body}</pre>
  </div>
</FirestoreCollection>
