<script>
  export let multiple = true;
  export let accept = "*/*";
  export let path = "files";
  import firebaseConfig from "./firebaseConfig";
  import firebase from "@firebase/app";
  import "@firebase/storage";

  if (firebase.apps.length === 0) {
    firebase.initializeApp(firebaseConfig);
  }

  let uploads = [];
  const storageRef = firebase.storage().ref();
  const pathRef = storageRef.child(path);
  async function uploadFiles(e) {
    const files = e.target.files;
    Array.from(files).forEach(async f => {
      const snapshot = await pathRef.child(f.name).put(f);
      const url = await snapshot.ref.getDownloadURL();
      uploads = uploads.concat({ ...snapshot.metadata, url });
    });
  }
</script>

<input type="file" {accept} {multiple} on:change={uploadFiles} />

<ul>
  {#each uploads as metadata}
    <li>
      <a href={metadata.url} target="_blank">{metadata.fullPath}</a>
    </li>
  {/each}
</ul>
